!!! 5
%html
  %head
    %title Example
    %link{:href => "/styles/main.css", :rel => "stylesheet"}/
    %script{:src => "/scripts/app.js", :type => "text/javascript"}
  %body
    %h1 Example HAML Page
